.obere-suchleiste {
    text-align: center;
    margin-top: 10rem;
  }
  .obere-suchleiste .search-btn {
    margin: 3px;
  }
  .obere-suchleiste #eingabe,
  .obere-suchleiste #favoriten {
    margin-bottom: 6px;
  }
 
 
  #ergebnisse {
    margin: 0 auto;
    width: 1200px;
  }
  
  .gif-box {
    margin: 0.5rem;
    display: inline-block;
    border: 1px solid black;
    height: auto;
    width: auto;
  }
  .gif-box img {
    display: block;
  }
  .gif-box h6 {
    font-weight: bold;
    text-align: center;
  }